<div class="container">
  <table class="table table-bordered">
    <thead class="head">
    <tr>
      <th scope="col">Username</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td><button (click)="clickProfile(user.id)" class="profilbutton">{{user.username}}</button></td>
    </tr> {{this.username}}
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue">
    <li class="page-item" *ngFor="let i of pageCount"><a class="page-link" (click)="loadPage(i)">{{i + 1}}</a></li>
  </ul>
</nav>
